@model ShopTARge22.Models.Coctails.SearchCoctailViewModel

      <h2>
         Search Coctail
      </h2>

        <form method="post">
                <div class="form-group col-md-offset-3 col-md-5">
                    <h2>Find a coctail receipe</h2>
                    <label asp-for="SearchCoctail" style="font-family: Arial"></label>
                    <input asp-for="SearchCoctail" class="form-control" />
                    <span asp-validation-for="SearchCoctail" class="text-danger"></span>
                </div>

                <div class="form-group col-md-offsett col-md-5 my-2">
                    <button asp-controller="Coctails" asp-action="searchCoctails" class="btn btn-primary">Search</button>
                </div>
        </form>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
<script src="~/assets/js/util.js" asp-append-version="true"></script>
<script src="~/assets/js/main.js" asp-append-version="true"></script>